{{ define "base" }}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Thousand</title>

      <link href="/assets/css/main.css" rel="stylesheet" />
      <script src="/assets/js/main.js"></script>
    </head>
    <body>
      <header class="p-0">
        <span class="brand">Thousand</span>
      </header>

      <div class="centre stack max-width:measure | p-0">
        {{ with .flashes }}
          <div id="flashes">
            {{ range . }}
              <div>
                {{ .Message }}
              </div>
            {{ end }}
          </div>
        {{ end }}

        {{ template "main" . }}
      </div>
    </body>
  </html>
{{ end }}
