{{ template "base" . }}

{{ define "main" }}
  <h1>Sign up</h1>

  <div id="newUser">
    {{ with .form }}
      <form method="POST" action="{{ userPath }}" class="stack">
        {{ with .Email }}
          <div class="stack stack-small">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="text"
              {{ with .Value }}value="{{ . }}"{{ end }}
            />
            {{ with .Message }}
              <small class="input-error">{{ . }}</small>
            {{ end }}
          </div>
        {{ end }}

        {{ with .Password }}
          <div class="stack stack-small">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            {{ with .Message }}
              <small class="input-error">{{ . }}</small>
            {{ end }}
          </div>
        {{ end }}


        <div class="cluster cluster-end">
          <a href="/session/new" class="button button-text">Log in</a>
          <button type="submit">Sign up</button>
        </div>
      </form>
    {{ end }}
  </div>
{{ end }}
