{{ template "base" . }}

{{ define "main" }}
  {{ with .Data.memory }}
    <turbo-frame id="memory-{{ .ID }}-newExperience">
      <form
        method="POST"
        action="{{ $.Reverse "create-experience" .VampireID.String .ID.String }}"
        data-turbo-frame="_top"
      >
        <div class="cluster">
          <input
            id="memory-{{ .ID }}-description"
            name="description"
            type="text"
            placeholder="Description"
            class="cluster-grow"
            data-action="input->frame#disableRestore"
            data-frame-unless-blank-param="true"
          />

          <input type="submit" value="Create Experience" />
        </div>
      </form>
    </turbo-frame>
  {{ end }}
{{ end }}
