.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--s-1));
  justify-content: flex-start;
  align-items: center;
}

.cluster-grow {
  flex-grow: 1;
}

.cluster-end {
  justify-content: flex-end;
}

.cluster-space {
  justify-content: space-between;
}
