:root {
  --measure: 60ch;
}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

.max-width\:measure {
  max-width: var(--measure);
}

.width\:measure {
  width: var(--measure);
}
