<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thousand</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <body>
      <div class="centre stack max-width:measure">
        <header>
          <h1>Thousand</h1>
        </header>

        {{ with .Vampire }}
          <div id="details">
            {{ if .Details }}
              {{ .Details.Name }}
            {{ else }}
              <form
                method="POST"
                action="{{ $.Reverse "create-details" }}"
                class="stack"
              >
                <div class="stack stack-small">
                  <label for="name">Name</label>
                  <input id="name" name="name" type="text" />
                </div>

                <input type="submit" value="Save Details" />
              </form>
            {{ end }}
          </div>

          <div id="memories" class="stack">
            <h2>Memories</h2>

            {{ range $index, $memory := .Memories }}
              <div id="memory-{{ $index }}">
                <ul>
                  {{ range .Experiences }}
                    <li class="experience">{{ . }}</li>
                  {{ end }}
                </ul>

                {{ if not $memory.Full }}
                  <form
                    method="POST"
                    action="{{ $.Reverse "create-experience" $index }}"
                    class="stack"
                  >
                    <div class="stack stack-small">
                      <label for="memory-{{ $index }}-experience"
                        >Experience</label
                      >
                      <input
                        id="memory-{{ $index }}-experience"
                        name="experience"
                        type="text"
                      />
                    </div>

                    <input type="submit" value="Add Experience" />
                  </form>
                {{ end }}
              </div>
            {{ end }}
          </div>

          <div id="skills" class="stack">
            <h2>Skills</h2>

            {{ with .Skills }}
              <ul>
                {{ range . }}
                  <li>
                    {{ if .Checked }}
                      <s>{{ .Description }}</s>
                    {{ else }}
                      {{ .Description }}
                      <form
                        method="POST"
                        action="{{ $.Reverse "update-skill" .ID }}"
                        class="stack"
                      >
                        <input type="hidden" name="_method" value="PATCH" />
                        <input type="hidden" name="checked" value="1" />
                        <input type="submit" value="Check Skill" />
                      </form>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}


            <form
              method="POST"
              action="{{ $.Reverse "create-skill" }}"
              class="stack"
            >
              <div class="stack stack-small">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" />
              </div>

              <input type="submit" value="Add Skill" />
            </form>
          </div>

          <div id="resources" class="stack">
            <h2>Resources</h2>

            {{ with .Resources }}
              <ul>
                {{ range . }}
                  {{ $description := .Description }}
                  {{ if .Stationary }}
                    {{ $description = print $description " (Stationary)" }}
                  {{ end }}
                  <li>
                    {{ if .Lost }}
                      <s>{{ $description }}</s>
                    {{ else }}
                      {{ $description }}


                      <form
                        method="POST"
                        action="{{ $.Reverse "update-resource" .ID }}"
                        class="stack"
                      >
                        <input type="hidden" name="_method" value="PATCH" />
                        <input type="hidden" name="lost" value="1" />
                        <input type="submit" value="Lose Resource" />
                      </form>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}


            <form
              method="POST"
              action="{{ $.Reverse "create-resource" }}"
              class="stack"
            >
              <div class="stack stack-small">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" />
              </div>

              <div class="stack stack-small">
                <label for="stationary">
                  <input
                    id="stationary"
                    name="stationary"
                    type="checkbox"
                    value="1"
                  />
                  Stationary
                </label>
              </div>

              <input type="submit" value="Add Resource" />
            </form>
          </div>

          <div id="characters" class="stack">
            <h2>Characters</h2>

            {{ with .Characters }}
              <ul>
                {{ range . }}
                  {{ if not .Deceased }}
                    {{ $description := .Name }}
                    {{ if eq .Type "immortal" }}
                      {{ $description = print $description " (Immortal)" }}
                    {{ else if eq .Type "mortal" }}
                      {{ $description = print $description " (Mortal)" }}
                    {{ end }}
                    <li>{{ $description }}</li>

                    <form
                      method="POST"
                      action="{{ $.Reverse "update-character" .ID }}"
                      class="stack"
                    >
                      <input type="hidden" name="_method" value="PATCH" />
                      <input type="hidden" name="deceased" value="1" />
                      <input type="submit" value="Report Deceased" />
                    </form>
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}


            <form
              method="POST"
              action="{{ $.Reverse "create-character" }}"
              class="stack"
            >
              <div class="stack stack-small">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" />
              </div>

              <div class="stack stack-small">
                <label for="type-mortal">
                  <input
                    id="type-mortal"
                    name="type"
                    type="radio"
                    value="mortal"
                  />
                  Mortal
                </label>
              </div>

              <div class="stack stack-small">
                <label for="type-immortal">
                  <input
                    id="type-immortal"
                    name="type"
                    type="radio"
                    value="immortal"
                  />
                  Immortal
                </label>
              </div>

              <input type="submit" value="Add Character" />
            </form>
          </div>

          <div id="marks" class="stack">
            <h2>Marks</h2>

            {{ with .Marks }}
              <ul>
                {{ range . }}
                  <li>{{ .Description }}</li>
                {{ end }}
              </ul>
            {{ end }}


            <form
              method="POST"
              action="{{ $.Reverse "create-mark" }}"
              class="stack"
            >
              <div class="stack stack-small">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" />
              </div>

              <input type="submit" value="Add Mark" />
            </form>
          </div>
        {{ end }}
      </div>
    </body>
  </body>
</html>
