<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thousand</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <body>
      <div class="centre stack max-width:measure">
        <header>
          <h1>Thousand</h1>
        </header>

        {{ with .Character }}
          {{ if .Details }}
            <span id="details">{{ .Details.Name }}</span>
          {{ else }}
            <form
              method="POST"
              action="{{ $.Reverse "create-details" }}"
              class="stack"
            >
              <div class="stack stack-small">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" />
              </div>

              <input type="submit" />
            </form>
          {{ end }}


          <div id="memories" class="stack">
            <h2>Memories</h2>

            {{ range $index, $memory := .Memories }}
              <div id="memory-{{ $index }}">
                <ul>
                  {{ range .Experiences }}
                    <li class="experience">{{ . }}</li>
                  {{ end }}
                </ul>

                {{ if not $memory.Full }}
                  <form
                    method="POST"
                    action="{{ $.Reverse "create-experience" $index }}"
                    class="stack"
                  >
                    <div class="stack stack-small">
                      <label for="memory-{{ $index }}-experience"
                        >Experience</label
                      >
                      <input
                        id="memory-{{ $index }}-experience"
                        name="experience"
                        type="text"
                      />
                    </div>

                    <input type="submit" />
                  </form>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </body>
  </body>
</html>
