{{ template "base" . }}

{{ define "main" }}
  <h1>Your vampires</h1>

  <turbo-frame id="newVampire">
    <a href="{{ newVampirePath }}" class="button with-icon"
      ><span class="icon icon-plus"></span>New Vampire</a
    >
  </turbo-frame>

  <div id="vampires">
    {{ with .vampires }}
      <ul>
        {{ range . }}
          <li><a href="{{ vampirePath .ID }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
