{{ template "base" . }}

{{ define "main" }}
  <turbo-frame id="newVampire">
    <a href="{{ newVampirePath }}">New Vampire</a>
  </turbo-frame>

  <div id="vampires">
    {{ with .vampires }}
      <ul>
        {{ range . }}
          <li><a href="{{ vampirePath .ID }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
