{{ template "base" . }}

{{ define "main" }}
  <turbo-frame id="newVampire">
    <form
      method="POST"
      action="{{ vampiresPath }}"
      class="stack"
      data-turbo-frame="_top"
    >
      <div class="stack stack-small">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" />
      </div>

      <input type="submit" value="Create Vampire" />
    </form>
  </turbo-frame>
{{ end }}
