{{ template "base" . }}

{{ define "main" }}
  {{ with .Data.vampire }}
    <div id="details">
      {{ .Name }}
    </div>

    <div id="memories" class="stack">
      <h2>Memories</h2>

      {{ range .Memories }}
        <div id="memory-{{ .ID }}">
          <ul>
            {{ range .Experiences }}
              <li>{{ .Description }}</li>
            {{ else }}
              <li>No experiences..</li>
            {{ end }}
          </ul>

          {{ if not .Full }}
            <turbo-frame id="memory-{{ .ID }}-newExperience">
              <a href="{{ $.Reverse "new-experience" .VampireID .ID }}">
                New Experience
              </a>
            </turbo-frame>
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
