{{ template "base" . }}

{{ define "main" }}
  {{ with .vampire }}
    <div id="details">
      {{ .Name }}
    </div>

    <div id="memories" class="stack">
      <h2>Memories</h2>

      {{ range .Memories }}
        <div id="memory-{{ .ID }}">
          <ul>
            {{ range .Experiences }}
              <li>{{ .Description }}</li>
            {{ end }}
            {{ if not .Full }}
              <li>
                <turbo-frame
                  id="memory-{{ .ID }}-newExperience"
                  data-controller="frame"
                  data-action="click@window->frame#restore"
                >
                  <a href="{{ reverse "new-experience" .VampireID .ID }}">
                    New Experience
                  </a>
                </turbo-frame>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>

    <div id="skills" class="stack">
      <h2>Skills</h2>

      <ul>
        {{ range .Skills }}
          <li>{{ .Description }}</li>
        {{ end }}
        <li>
          <turbo-frame
            id="newSkill"
            data-controller="frame"
            data-action="click@window->frame#restore"
          >
            <a href="{{ reverse "new-skill" .ID }}">New Skill</a>
          </turbo-frame>
        </li>
      </ul>
    </div>

    <div id="resources" class="stack">
      <h2>Resources</h2>

      <ul>
        {{ range .Resources }}
          <li>{{ .Description }} {{ if .Stationary }}(Stationary){{ end }}</li>
        {{ end }}
        <li>
          <turbo-frame
            id="newResource"
            data-controller="frame"
            data-action="click@window->frame#restore"
          >
            <a href="{{ reverse "new-resource" .ID }}">New Resource</a>
          </turbo-frame>
        </li>
      </ul>

      <div id="characters" class="stack">
        <h2>Characters</h2>

        <ul>
          {{ range .Characters }}
            <li>{{ .Name }} ({{ .Type }})</li>
          {{ end }}
          <li>
            <turbo-frame
              id="newCharacter"
              data-controller="frame"
              data-action="click@window->frame#restore"
            >
              <a href="{{ reverse "new-character" .ID }}">New Character</a>
            </turbo-frame>
          </li>
        </ul>
      </div>

      <div id="marks" class="stack">
        <h2>Marks</h2>

        <ul>
          {{ range .Marks }}
            <li>{{ .Description }}</li>
          {{ end }}
          <li>
            <turbo-frame
              id="newMark"
              data-controller="frame"
              data-action="click@window->frame#restore"
            >
              <a href="{{ reverse "new-mark" .ID }}">New Mark</a>
            </turbo-frame>
          </li>
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}
