{{ template "base" . }}

{{ define "main" }}
  {{ with .Data.vampire }}
    <div id="details">
      {{ .Name }}
    </div>

    <div id="memories" class="stack">
      <h2>Memories</h2>

      {{ range .Memories }}
        <div id="memory-{{ .ID }}">
          <ul>
            {{ range .Experiences }}
              <li>{{ .Description }}</li>
            {{ end }}
            {{ if not .Full }}
              <li>
                <turbo-frame
                  id="memory-{{ .ID }}-newExperience"
                  data-controller="frame"
                  data-action="click@window->frame#restore"
                >
                  <a href="{{ $.Reverse "new-experience" .VampireID .ID }}">
                    New Experience
                  </a>
                </turbo-frame>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
